/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "Roboto",Arial, sans-serif;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

.col-md-4{
    width: 32%;
}


@media (min-width: 360px) and (max-width: 767px){
  #skill-block, #project-block, #contact-block{
    display: block;
    width: 100%;
  }
}